<a href="https://colab.research.google.com/github/shivasampath75/lab-test-1/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
file_path = '/content/drive/MyDrive/ODD.xlsx'
df = pd.read_excel(file_path, engine='openpyxl')

In [4]:
df.head()

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month
0,Jane Miller,8797,Developer,3.801881e+09,emily.taylor@example.com,9999.0,NaN
1,Michael Brown,6540,Manager,7.904752e+09,john.brown@test.net,160.0,11200.0
2,Sarah Anderson,2353,Developer,9.463822e+09,sarah.wilson@sample.org,9999.0,-5000.0
3,Chris Johnson,6392,Engineer,8.727628e+09,john.jones@sample.org,160.0,8000.0
4,Laura Smith,1653,Analyst,7.750284e+08,sarah.taylor@test.net,9999.0,NaN

In [22]:
#Q1)Are there missing values in any columns? If so, in which columns?
missing_values_per_column = df.isnull().sum()


columns_with_missing_values = missing_values_per_column[missing_values_per_column > 0]

print("Columns with missing values:")
columns_with_missing_values

Columns with missing values:

Employee_Name                 9
Job_Role                     10
Phone_Number                  8
Email_ID                      9
Total_Work_Hour_per_Month    23
Salary_per_Month             20
Hourly_Wage                  33
dtype: int64

In [17]:
#Q2)What is the data type of each column, and are they appropriate for their context?
df.dtypes

Employee_Name                 object
Employee_ID                    int64
Job_Role                      object
Phone_Number                  object
Email_ID                      object
Total_Work_Hour_per_Month    float64
Salary_per_Month             float64
Hourly_Wage                  float64
dtype: object

In [18]:
#Q3)Some employees have “9999” in the Total_Work_Hour_per_Month column. What does this represent, and should it be replaced?
employees_with_9999_hours = df[df['Total_Work_Hour_per_Month'] == 9999]
num_employees_with_9999_hours = len(employees_with_9999_hours)

print(f"\nNumber of employees with 9999 hours: {num_employees_with_9999_hours}")


print("\nEmployees with 9999 hours:")
employees_with_9999_hours

Number of employees with 9999 hours: 15

Employees with 9999 hours:

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month,Hourly_Wage
0,Jane Miller,8797,Developer,+38018808700,emily.taylor@example.com,9999.0,NaN,NaN
2,Sarah Anderson,2353,Developer,+94638223300,sarah.wilson@sample.org,9999.0,-5000.0,-0.50005
4,Laura Smith,1653,Analyst,+1 (775) 028-4090,sarah.taylor@test.net,9999.0,NaN,NaN
8,NaN,5890,Developer,+31553123020,jane.williams@test.net,9999.0,-5000.0,-0.50005
14,Michael Miller,1634,Data Scientist,+24163089320,emily.johnson@test.net,9999.0,-5000.0,-0.50005
20,Laura Davis,8202,NaN,+57900565110,NaN,9999.0,-5000.0,-0.50005
32,NaN,1603,Engineer,+47955319380,emily.jones@test.net,9999.0,-5000.0,-0.50005
41,Jane Williams,7226,NaN,+53511259920,david.johnson@test.net,9999.0,-5000.0,-0.50005
57,Michael Anderson,5515,Developer,+1 (333) 672-6830,NaN,9999.0,NaN,NaN
62,David Brown,5344,Data Scientist,+26060423100,NaN,9999.0,-5000.0,-0.50005
70,Michael Johnson,5045,Analyst,+87030920160,michael.miller@example.com,9999.0,-5000.0,-0.50005
71,Jane Anderson,8889,Manager,+77368419600,michael.smith@example.com,9999.0,-5000.0,-0.50005
74,Emily Davis,8408,Engineer,+48684172240,sarah.wilson@test.net,9999.0,100000.0,10.00100
87,Sarah Johnson,3476,NaN,None,jessica.wilson@sample.org,9999.0,-5000.0,-0.50005
89,Jane Jones,7778,Data Scientist,None,sarah.brown@example.com,9999.0,-5000.0,-0.50005

In [23]:
#Q4)The Phone_Number column has inconsistent formats. What steps can be taken to standardize it?
import pandas as pd
import re

def standardize_phone_number(phone_number):
  """Standardizes phone numbers to a consistent format.

  Args:
    phone_number: The phone number string to standardize.

  Returns:
    The standardized phone number string, or None if the input is invalid.
  """
  if pd.isna(phone_number):
    return None

  phone_number = str(phone_number)


  phone_number = re.sub(r'\D', '', phone_number)

  if len(phone_number) == 10:
    return f"+1 ({phone_number[:3]}) {phone_number[3:6]}-{phone_number[6:]}"
  elif len(phone_number) == 11 and phone_number[0] == '1':
    return f"+1 ({phone_number[1:4]}) {phone_number[4:7]}-{phone_number[7:]}"
  elif 10 < len(phone_number) <= 15:
      return "+" + phone_number
  else:
    return None


df['Phone_Number'] = df['Phone_Number'].apply(standardize_phone_number)


print(df.head())

    Employee_Name  Employee_ID   Job_Role       Phone_Number  \
0     Jane Miller         8797  Developer       +38018808700
1   Michael Brown         6540    Manager       +79047524280
2  Sarah Anderson         2353  Developer       +94638223300
3   Chris Johnson         6392   Engineer       +87276281480
4     Laura Smith         1653    Analyst  +1 (775) 028-4090

                   Email_ID  Total_Work_Hour_per_Month  Salary_per_Month  \
0  emily.taylor@example.com                     9999.0               NaN
1       john.brown@test.net                      160.0           11200.0
2   sarah.wilson@sample.org                     9999.0           -5000.0
3     john.jones@sample.org                      160.0            8000.0
4     sarah.taylor@test.net                     9999.0               NaN

   Hourly_Wage
0          NaN
1     70.00000
2     -0.50005
3     50.00000
4          NaN

In [21]:
#Q5)Compute an "Hourly Wage" column from Salary_per_Month and Total_Work_Hour_per_Month?
df['Hourly_Wage'] = df['Salary_per_Month'] / df['Total_Work_Hour_per_Month']


print(df[['Salary_per_Month', 'Total_Work_Hour_per_Month', 'Hourly_Wage']].head())

   Salary_per_Month  Total_Work_Hour_per_Month  Hourly_Wage
0               NaN                     9999.0          NaN
1           11200.0                      160.0     70.00000
2           -5000.0                     9999.0     -0.50005
3            8000.0                      160.0     50.00000
4               NaN                     9999.0          NaN